[Desktop Entry]
Name=Camera #2
Comment=Tracker for Side Camera
#Exec=/home/uwtec/work/Labs/test.py
#Exec=/home/uwtec/work/UWTracking/src/main.py --kcf
#Exec=/home/uwtec/work/UWTracking/bin/tracking --view=side --camera '/dev/cam2' --zoom '/dev/zoom2' --motor '/dev/motor2' --kcf
Exec=/usr/local/src/UWTracking/bin/tracking --view=side --camera '/dev/cam2' --zoom '/dev/zoom2' --motor '/dev/motor2' --kcf
#Path=/home/uwtec/work/UWTracking_opencv/
Icon=/home/uwtec/.local/share/icons/hicolor/128x128/apps/camera_side.png
Terminal=false
Type=Application
#StartupNotify=true
