[Desktop Entry]
Name=Camera #1
Comment=Tracker for Front Camera
#Exec=/home/uwtec/work/Labs/test.py
#Exec=/home/uwtec/work/UWTracking_opencv/src/main.py -d --kcf
#Exec=/home/uwtec/work/UWTracking_opencv/bin/tracking -d --view=front --camera '/dev/cam1' --zoom '/dev/ttyUSB0' --motor '/dev/ttyUSB1' --kcf
Exec=/usr/local/src/UWTracking/bin/tracking -d --view=front --camera '/dev/cam1' --zoom '/dev/ttyUSB0' --motor '/dev/ttyUSB1' --kcf
#Path=/home/uwtec/work/UWTracking_opencv/
Icon=/home/uwtec/.local/share/icons/hicolor/128x128/apps/camera_front.png
Terminal=false
Type=Application
#StartupNotify=true
