[Desktop Entry]
Name=Camera #1
Comment=Tracker for Rear Camera
#Exec=/home/uwtec/work/Labs/test.py
#Exec=/home/uwtec/work/UWTracking/src/main.py --kcf
#Exec=/home/uwtec/work/UWTracking/bin/tracking --view=rear --camera '/dev/cam1' --zoom '/dev/zoom1' --motor '/dev/motor1' --kcf
Exec=/usr/local/src/UWTracking/bin/tracking --view=rear --camera '/dev/cam1' --zoom '/dev/zoom1' --motor '/dev/motor1' --kcf
#Path=/home/uwtec/work/UWTracking_opencv/
Icon=/home/uwtec/.local/share/icons/hicolor/128x128/apps/camera_rear.png
Terminal=false
Type=Application
#StartupNotify=true
