[Desktop Entry]
Name=Captures
Comment=Access and organize files
Keywords=folder;manager;explore;disk;filesystem;
#Exec=nautilus --new-window %U
Exec=nautilus /home/uwtec/Documents/captures
Icon=system-file-manager
Terminal=false
Type=Application
DBusActivatable=trued
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;FileManager;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.14.3
X-GNOME-UsesNotifications=true
Actions=Window;Captures;
X-Unity-IconBackgroundColor=#af4853
X-Ubuntu-Gettext-Domain=nautilus
OnlyShowIn=Unity;

[Desktop Action Captures]
Name=Captures
#Exec=nautilus --new-window
Exec=nautilus /home/uwtec/Documents/captures
OnlyShowIn=Unity;
